*.tar.xz
tutorial.conf
postgrest
db_params.json
/.idea/
/.venv/
__pycache__

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform variables
*.tfvars
/automated_download_script/.env
